body {
  background: #6374f4;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
}

.center-obj {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: [left-side] 1fr [right-side] 1fr;
  width: 50vw;
  height: 60vh;
  margin: 0 auto;
}

.left-side {
  position: relative;
  grid: left-side;
  display: grid;
  height: 100%;
}

.overlay-img {
  position: absolute;
  height: 70%;
  width: 70%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.right-side {
  grid: right-side;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.right-side h1 {
  margin: 2rem;
}

.right-side p {
  margin: 0 2rem;
}

label {
  color: #6273f5;
}

.primary-button {
  background: #de508c;
}

.primary-button:hover {
  background: #b53e70;
}

.secondary-button {
  background: #6273f5;
}

.secondary-button:hover {
  background: #5967d2;
}

.account-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  color: #6273f5;
}

.account-links a {
  text-decoration: none;
  font-size: 0.9rem;
}

.account-links a:visited {
  color: #6273f5;
}

.block {
  height: 100%;
}

.yellow-block {
  background: #fcc32a;
}
.purple-block {
  background: #6374f4;
}
.green-block {
  background: #c8deae;
}
.red-block {
  background: #de508c;
}

/* NAV */

nav {
  display: flex;
  background: #6273f5;
  color: #fff;
  text-decoration: none;
  height: 10vh;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav li,
a {
  list-style: none;
  color: inherit;
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

/* Menu */

.preflight-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.parent-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60vw;
  margin: 0 auto;
}

.title-container {
  padding: 2rem;
}

.menu-container {
  height: 100%;
  color: #fff;
}

.menu-container h2 {
}

.menu-block {
  height: 15vh;
  margin: 1rem 0;
  border-radius: 20px;
}

.menu-block:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.fact-container {
  margin-top: 5%;
  padding: 2rem;
  background: #fcc32a;
  border-radius: 20px;
}

/* Fact of the Day Page */
.fact_title {
  margin: 50px auto;
  margin-bottom: 0;
  font-family: "Catamaran", sans-serif;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.fact_section {
  text-align: center;
}

.fact_container {
  height: 100vh;
  display: grid;
  width: 50vw;
  margin: 0 auto;
}

#fact_box {
  padding: 0 5px;
  font-family: "Catamaran", sans-serif;
  color: #fff;
  font-size: 2rem;
}

#fact_box:hover {
  background-color: #ffba00;
}

#narwhal {
  margin-top: 10px;
}

#fact_visual {
  opacity: 0;
}
/* Fact of the Day Page */

/*My Profile Page*/
.profile_container {
  text-align: center;
}

#logout_btn {
  background: #ff3939;
  padding: 5px;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  width: 200px;
}

#logout_btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.stats {
  margin-top: 25%;
}

.stats p {
  text-align: left;
  font-family: "Catamaran", sans-serif;
  margin: 30px 50px;
  font-weight: 900;
  font-size: 30px;
}

.stat-data {
  font-weight: 400;
}
/* End My Profile Page*/

/*Quiz Page */
.quiz-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100%;
  margin: 0 auto;
}
#question {
  margin: 2em 30px;
  font-family: "Catamaran", sans-serif;
  font-size: 2em;
}

#game {
  text-align: center;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid black;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #fcc32a;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}

#hud-item {
  margin-bottom: 20px;
}

#hud {
  font-family: "Catamaran", sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

/* Progress bar */
#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #5967d2;
  margin-top: 1.5rem;
}
#progressBarFull {
  height: 3.4rem;
  background-color: #5967d2;
  width: 0%;
}
/*Quiz Page*/

/* End Page */
.end-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#endForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#finalScore {
  text-align: center;
}
#endForm form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#endForm form input {
  margin: 5% 0;
}

#endForm a {
  margin-top: 5%;
}
/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: [left-side] 1fr [right-side] 1fr;
    width: 100%;
    height: 50vh;
    margin: 0 auto;
  }
}
